html {
  width: 100%;
  height: 100%;
  font-family: 'microsoft yahei';
}

body {
  background-color: #f5f5f5;
}

a {
  color: #484848;
}

.nav-bar {
  position: relative;
  background-color: #63c9ca;
  color: white;
  box-shadow: none;
}

.mui-title {
  color: #fff;
}

.nav-inp {
  display: none;
  width: 7.17333rem !important;
  height: 32px !important;
  border: 1px solid #c8c8c8;
  box-sizing: border-box;
  margin-top: 6px;
  font-size: 14px;
  color: #767676;
  margin-left: 0.42667rem;
  margin-bottom: 0 !important;
  padding-left: 39px !important;
  background: url(../images/icon-seach.png) no-repeat 16px center;
  background-size: 15px;
}

.quxiao {
  font-size: 16px !important;
  height: 44px;
  display: none;
  color: #fff;
  text-align: center;
  line-height: 24px;
}

.search-btn::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-right: 6px;
  background: url(../images/icon-search-white.png) no-repeat center center;
  background-size: 15px;
}

.bgc {
  z-index: 999;
  background-color: #63c9ca;
}

.more-nav {
  width: 100%;
  height: 39px;
  margin-top: 44px;
  position: fixed;
  left: 0;
  top: 0px;
  z-index: 999;
  background: #f5f5f5;
  /* background-color: #fff; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.more-nav-items {
  width: 3.30667rem;
  height: 38px;
  color: #767676;
  font-size: 14px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.more-nav i {
  display: inline-block;
  width: 10px;
  height: 5px;
  margin-left: 8px;
  background: url(../images/arrow-down-grey.png) no-repeat center center;
  background-size: contain;
}

.more-nav-items-active {
  color: #63c9ca;
}

.more-nav-items-active i {
  transform: rotate(180deg);
  background: url(../images/arrow-down-mian.png) center center;
  background-size: contain;
}

.more-nav-bottom1 {
  width: 3.30667rem;
  height: 1px;
  background: #f5f5f5;
}

.more-nav-bottom2 {
  width: 3.30667rem;
  height: 1px;
  background: #f5f5f5;
}

.more-nav-bottom3 {
  width: 3.30667rem;
  height: 1px;
  background: #f5f5f5;
}

.more-nav-bottom-avtive {
  background: #fff;
}

.company-list {
  width: 100%;
  margin-top: 83px;
}

.company-list .company-items {
  margin-top: 4px;
  width: 9.57333rem/pxrem;
  padding: 16px;
  display: flex;
  background: #fff;
  flex-flow: column;
}

.company-list .company-items .com-items-top {
  display: flex;
}

.company-list .company-items .com-items-top .com-name {
  padding: 6px;
  width: 40px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  line-height: 1;
  background-color: #29cccc;
  border-radius: 5px;
  margin-right: 16px;
}

.company-list .company-items .com-items-top .bg-color {
  background: #50cafa;
}

.company-list .company-items .com-items-top .com-item-info {
  width: 7.65333rem;
  display: flex;
  flex-flow: column;
}

.company-list .company-items .com-items-top .com-item-info P {
  font-size: 16px;
  color: #484848;
  margin: 0;
}

.company-list .company-items .com-items-top .com-item-info > span {
  font-size: 12px;
  line-height: 1;
  color: #767676;
  margin-top: 12px;
}

.company-list .company-items .com-items-top .com-item-info > span span {
  color: #484848;
}

.company-list .company-items .com-item-bottom {
  display: flex;
  margin-top: 16px;
}

.company-list .company-items .com-item-bottom > div {
  height: 24px;
  padding: 5px 12px;
  line-height: 1;
  font-size: 14px;
  border-radius: 4px;
}

.company-list .company-items .com-item-bottom > div:nth-child(2) {
  margin: 0 0.42667rem;
}

.company-list .company-items .com-item-bottom > div:nth-child(1) {
  margin-left: 0.42667rem;
}

.company-list .company-items .com-item-bottom .zhishi {
  border: 1px solid #29cccc;
  color: #29cccc;
}

.company-list .company-items .com-item-bottom .zixun {
  border: 1px solid #50cafa;
  color: #50cafa;
}

.company-list .company-items .com-item-bottom .falv {
  border: 1px solid #fa5050;
  color: #fa5050;
}

.company-list .company-items .com-item-bottom .rencai {
  color: #fadb50;
  border: 1px solid #fadb50;
}

.company-list .company-items .com-item-bottom .jinrong {
  color: #fa8950;
  border: 1px solid #fa8950;
}

.company-list .company-items .com-item-bottom .shuwu {
  color: #159957;
  border: 1px solid #159957;
}

.smak {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 998;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.neirong1 {
  display: none;
  position: fixed;
  left: 0;
  z-index: 999;
  top: 83px;
}

.buxian {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  color: #484848;
  background: #fff;
}

.buxian span {
  width: 2.66667rem;
  height: 36px;
  margin-top: 16px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  background: #f5f5f5;
  border-radius: 5px;
}

.buxian p {
  width: 2.66667rem;
  height: 36px;
  font-size: 16px;
  background: #f5f5f5;
  color: #484848;
  text-align: center;
  line-height: 36px;
  margin: 16px 0 16px;
  border-radius: 5px;
}

.buxian .active {
  background-color: #29cccc;
  color: #fff;
}

.buxian .addClass {
  color: #b4b4b4;
}

#nav-btn2 {
  margin-top: 83px;
  position: relative;
  z-index: 998;
}

.neirong2 {
  display: none;
}

.neirong3 {
  display: none;
}

.nav-btn2 {
  max-height: 1262px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  background: #fff;
}

.nav-btn2 li {
  padding: 0 16px;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
}

.nav-btn2 .nav-btn2-lists > div:nth-child(1) {
  font-size: 12px;
  height: 44px;
  line-height: 44px;
  color: #767676;
}

.nav-btn2 .nav-btn2-lists > div:nth-child(2) {
  display: flex;
  flex-flow: wrap;
  color: #484848;
}

.nav-btn2 .nav-btn2-lists > div:nth-child(2) span {
  width: 2.02667rem;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 12px;
  background: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 16px;
  margin-left: 0.26667rem;
}

.nav-btn2 .nav-btn2-lists > div:nth-child(2) span:nth-child(1) {
  margin-left: 0;
}

.nav-btn2 .nav-btn2-lists > div:nth-child(2) span:nth-child(5) {
  margin-left: 0;
}

.nav-btn2 .nav-btn2-lists > div:nth-child(2) p {
  width: 2.02667rem;
  height: 36px;
  font-size: 12px;
  position: relative;
  background: #f5f5f5;
  color: #484848;
  text-align: center;
  line-height: 36px;
  margin-bottom: 16px;
  border-radius: 5px;
}

.nav-btn2 .nav-btn2-lists > div:nth-child(2) p {
  margin-left: 0.26667rem;
}

.nav-btn2 .nav-btn2-lists > div:nth-child(2) p:nth-child(5), .nav-btn2 .nav-btn2-lists > div:nth-child(2) p:nth-child(9) {
  margin-left: 0;
}

.nav-btn2 .nav-btn2-lists > div:nth-child(2) .active {
  background-color: #29cccc;
  color: #fff;
}

.nav-btn2 .nav-btn2-lists > div:nth-child(2) .addClass {
  color: #b4b4b4;
}

.nav-btn3 {
  position: fixed;
  left: 0;
  z-index: 999;
  top: 83px;
}

.footer {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  -webkit-transform: translateZ(0);
  z-index: 666;
  background-attachment: fixed;
  border-top: 1px solid #ededed;
  display: flex;
}

.footer a {
  width: 20%;
  display: flex;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}

.footer a img {
  width: auto;
  margin-top: 6px;
  height: 22px;
}

.footer a p {
  font-size: 10px;
  margin-bottom: 0;
  margin-top: 4px;
  line-height: 1;
  color: #484848;
}

.footer a .color {
  color: #29cccc;
}

.mui-icon-back:before, .mui-icon-left-nav:before {
  color: #fff;
}
