html {
  width: 100%;
  height: 100%;
  font-family: 'microsoft yahei';
}

body {
  background: #f5f5f5;
}

.nav-bar {
  background-color: #63c9ca;
  color: white;
  box-shadow: none;
}

.mui-title {
  color: #fff;
}

.mui-icon-back:before, .mui-icon-left-nav:before {
  color: white;
}

.bgc {
  box-shadow: none;
  z-index: 999;
  position: relative;
  background-color: #63c9ca;
}

.mui-table-view:before {
  height: 0;
}

.mui-table-view:after {
  height: 0;
}

.mui-scroll-wrapper {
  position: static;
}

.main {
  position: relative;
}

.main .main-left {
  width: 100px;
  position: absolute;
  left: 0;
  font-size: 16px;
}

.main .main-left .table-view {
  width: 100px;
  text-align: center;
  background-color: none;
  padding: 0;
}

.main .main-left .table-view .table-view-content > a {
  display: inline-block;
  width: 100px;
  height: 48px;
  line-height: 48px;
  color: #767676;
}

.main .main-left .table-view .table-view-content > a .mui-icon-arrowdown:before {
  font-size: 16px;
}

.main .main-left .table-view .table-view-content .collapse-content {
  display: none;
  line-height: 48px;
}

.main .main-left .table-view .table-view-content .collapse-content p {
  margin: 0;
}

.main .main-left .table-view .table-view-content.active {
  background-color: #fff;
  color: #29cccc;
}

.main .main-left .table-view .table-view-content.active > a {
  height: 48px;
  line-height: 48px;
  color: #29cccc;
}

.main .main-left .table-view .table-view-content.active > a span {
  height: 16px;
}

.main .main-left .table-view .table-view-content.active > a .mui-icon-arrowdown:before {
  font-size: 16px;
  transform: rotateX(180deg);
  display: inline-block;
}

.main .main-left .table-view .table-view-content.active .collapse-content {
  line-height: 48px;
  display: block;
}

.main .main-left .table-view .table-view-content.active .collapse-content .line-all {
  height: 1px;
  width: 100%;
  background-color: #f5f5f5;
}

.main .main-left .table-view .table-view-content.active .collapse-content p {
  margin: 0;
  height: 48px;
}

.main .main-left .table-view .table-view-content.active .collapse-content p::after {
  content: '';
  display: block;
  width: 84px;
  height: 1px;
  background-color: #f5f5f5;
  margin: 0 auto;
}

.main .main-left .table-view .table-view-content.active .collapse-content .color {
  color: #484848;
}

.main .main-right {
  width: 100%;
  position: absolute;
  right: 0 !important;
  top: 0;
  left: 100px;
}

.main .main-right .main-right-content .company-list {
  width: 100%;
}

.main .main-right .main-right-content .company-list .company-items {
  margin-top: 4px;
  width: 9.57333rem/pxrem;
  padding: 16px;
  display: flex;
  background: #fff;
  flex-flow: column;
}

.main .main-right .main-right-content .company-list .company-items .com-items-top {
  display: flex;
}

.main .main-right .main-right-content .company-list .company-items .com-items-top .com-item-info {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.main .main-right .main-right-content .company-list .company-items .com-items-top .com-item-info > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.main .main-right .main-right-content .company-list .company-items .com-items-top .com-item-info > div > span {
  font-size: 12px;
  line-height: 1;
  display: flex;
  color: #767676;
}

.main .main-right .main-right-content .company-list .company-items .com-items-top .com-item-info > div > span > span {
  color: #484848;
}

.main .main-right .main-right-content .company-list .company-items .com-items-top .com-item-info > div > span .star-content {
  width: 76px;
  height: 12px;
  display: flex;
  padding-left: 8px;
}

.main .main-right .main-right-content .company-list .company-items .com-items-top .com-item-info > div > span .star-content i {
  width: 76px;
  height: 12px;
  background: url(../images/hot-star.png) no-repeat 0 center;
  background-size: contain;
}

.main .main-right .main-right-content .company-list .company-items .com-items-top .com-item-info P {
  font-size: 16px;
  color: #484848;
  margin: 0;
}

.main .main-right .main-right-content .company-list .company-items .com-items-top .com-item-info > span {
  font-size: 12px;
  line-height: 1;
  color: #767676;
  margin-top: 12px;
}

.main .main-right .main-right-content .company-list .company-items .com-items-top .com-item-info > span span {
  color: #484848;
}

.main .main-right .main-right-content .company-list .company-items .com-item-bottom {
  display: flex;
  margin-top: 16px;
}

.main .main-right .main-right-content .company-list .company-items .com-item-bottom > div {
  width: 68px;
  height: 20px;
  line-height: 18px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
}

.main .main-right .main-right-content .company-list .company-items .com-item-bottom > div:nth-child(2) {
  margin: 0 16px;
}

.main .main-right .main-right-content .company-list .company-items .com-item-bottom > div:nth-child(1) {
  margin-left: 0;
}

.main .main-right .main-right-content .company-list .company-items .com-item-bottom .zhishi {
  border: 1px solid #29cccc;
  color: #29cccc;
}

.main .main-right .main-right-content .company-list .company-items .com-item-bottom .zixun {
  border: 1px solid #50cafa;
  color: #50cafa;
}

.main .main-right .main-right-content .company-list .company-items .com-item-bottom .falv {
  border: 1px solid #fa5050;
  color: #fa5050;
}

.main .main-right .main-right-content .company-list .company-items .com-item-bottom .rencai {
  color: #fadb50;
  border: 1px solid #fadb50;
}

.main .main-right .main-right-content .company-list .company-items .com-item-bottom .jinrong {
  color: #fa8950;
  border: 1px solid #fa8950;
}

.main .main-right .main-right-content .company-list .company-items .com-item-bottom .shuwu {
  color: #159957;
  border: 1px solid #159957;
}

.footer {
  width: 100%;
  height: 50px;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  -webkit-transform: translateZ(0);
  box-sizing: border-box;
  z-index: 666;
  border-top: 1px solid #ededed;
  display: flex;
}

.footer a {
  width: 20%;
  display: flex;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}

.footer a img {
  width: auto;
  margin-top: 6px;
  height: 22px;
}

.footer a p {
  font-size: 10px;
  margin-bottom: 0;
  line-height: 1;
  margin-top: 4px;
  color: #484848;
}

.footer a .color {
  color: #29cccc;
}
